<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazon ETH</title>
</head>
<body>
<h1>Amazon ETH</h1>
<p>
    welcome to Amazon ETH
</p>
<p>
    lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, doloremque, eius, eos, eveniet fugiat hic ipsam ipsum laboriosam maiores maxime nam natus nemo nihil nobis nostrum odio officia omnis optio pariatur quae quam quas quia quisquam quos ratione repellendus sapiente sed similique sint sit suscipit temporibus voluptas voluptate voluptates.
</p>

If you want to go to the booklist page, click <a href="/booklist">here</a>


button to call the connect function
<button id="enableMetamask" onclick="metaconnect()">Connect to Metamask</button>
    
</body>
<script src="{{url_for('static', filename='script.js')}}"></script>
</html>
